.card-tile {
    justify-content: space-between;
    align-items: stretch;
    margin: 15px auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 370px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    perspective: 600px;
    transition: transform 0.5s linear;
    /* transform-style: preserve-3d; */
}

.card-popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 9;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-confirm-text {
    color: #525266;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-popup-icon {
    width: 60px;
    height: 60px;
    background: url(../images/icon/exclamation-mark.png) no-repeat center / contain;
    margin-bottom: 20px;
}

.card-popup-crose {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background: url(../images/icon/close2.png) no-repeat center / contain;
    cursor: pointer;
}

.card-side1 {
    padding: 10px 20px 0 20px;
    border-bottom: 1px solid #7b7b8c;
    position: relative;
}

.card-confirm-btn {
    margin: 5px !important;
}

.card-side1:before {
    content: "Front";
    position: absolute;
    right: 15px;
    top: 5px;
    color: #C2C2C2;
    font-size: 14px;
}

.card-side2 {
    padding: 10px 20px 0 20px;
    position: relative;
}

.card-side2:before {
    content: "Back";
    position: absolute;
    right: 15px;
    bottom: -11px;
    color: #C2C2C2;
    font-size: 14px;
}

.card-image-container {
    display: flex;
    align-items: flex-end;
}

.card-row {
    margin-bottom: 10px;
}

.card-info {
    flex: 1;
}

.cards-count {
    font-size: 14px;
    color: #C2C2C2;
}

.card-name {
    font-size: 20px;
    font-weight: 700;
    color: #525266;
    margin-bottom: 6px;
}

.edit-card {
    background-color: #f5f5fa;
    background-image: url('../images/icon/edit.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.edit-card:hover {
    background-color: #e9e9f2;
}

.delete-card {
    background-color: #f5f5fa;
    background-image: url('../images/icon/delete.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.delete-card:hover {
    background-color: #e9e9f2;
}

.save-card {
    background-color: #f5f5fa;
    background-image: url('../images/icon/save.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    margin-right: 15px;
}

.save-card:hover {
    background-color: #e9e9f2;
}

.save-card-disact {
    background-color: #f5f5fa;
    background-image: url('../images/icon/save-disact.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    margin-right: 15px;
    cursor: default !important;
}

.card-input {
    padding: 4px;
    width: calc(100% - 8px);
    resize: none;
    font-size: 16px;
    color: #8d8da6;
    border: 1px solid #8d8da6;
    border-radius: 4px;
    margin-bottom: 7px;
}

.card-input:focus {
    border-color: #525266 !important;
}