.creator-page {
    margin: 0 auto;
    max-width: 1200px;
}

.creator-container {
    max-width: 580px;
    /* padding: 20px; */
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 8px;
    min-height: 80vh;
    background-color: #fff;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
}

.content-title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 15px 0 0;
    color: #ffffff;
}

.creator-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #d9b216;
    border-radius: 8px 8px 0 0;
}

.add-card {
    background-color: #16d977;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    background-image: url(../images/icon/add-button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

.container-content {
    padding: 20px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 140px;
  font-size: 4rem; /* Размер шрифта кнопок */
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.5); Цвет фона кнопок */
  border-radius: 5px; /* Скругленные углы */
}

/* Измените цвет стрелок на белый при наведении */
.carousel-control-prev:hover,
.carousel-control-next:hover {
  /* color: #483737; */
  /* background-color: rgba(0, 0, 0, 0.8); */
}

/* Измените размер и цвет иконок стрелок */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    /* color: #16d977; */
  width: 40px; /* Ширина иконок */
  height: 40px; /* Высота иконок */
  /* background-color: #4f4747; Цвет иконок */
  /* border-radius: 50%; Круглые иконки */
  opacity: 0.5;
}

.carousel-control-prev-icon {
    background-image: url(../images/icon/left-swipe.png);
}
.carousel-control-next-icon {
    background-image: url(../images/icon/right-swipe.png);
}