header {
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 16px 2px rgb(82 82 96 / 30%);
}

.page-title {
  /* color: aliceblue; */
  font-size: 18px;
  font-weight: 600;
  /* Стили для названия страницы */
}

.logout {
  background: #f0f0f5 url(../images/icon/exit.svg) no-repeat center;
  /* background-image: url(../images/icon/exit.svg); */
  width: 32px;
  height: 32px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  margin-left: 16px;
}

.delimiter {
  background-color: #f0f0f5;
  width: 1px;
}

.add-directory,
.go-to-back {
  background-color: #16d977;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 16px;
}

.add-directory {
  background-image: url(../images/icon/add-button.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.go-to-back {
  background-image: url(../images/icon/left-arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
}

/* .gor-line {
  width: 60%;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ver-line {
  width: 4px;
  height: 60%;
  background-color: rgb(255, 255, 255);
  border-radius: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.logo {
  height: 50px;
  width: 120px;
  background-image: url(../images/icon/max-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}