header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3A4F58;
  }
  
  .logo {
    /* Стили для логотипа или названия сайта */
  }
  
  .menu {
    /* Стили для меню */
  }
  
  .page-title {
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    /* Стили для названия страницы */
  }
  
  .add-directory {
    background-color: #40B72D;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
  }

  .gor-line {
    width: 65%;
    height: 6px;
    background-color: aliceblue;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ver-line {
    width: 6px;
    height: 65%;
    background-color: aliceblue;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }