.home-page {
    margin: 0 auto;
    max-width: 1200px;
}

.directory-tile {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 15px auto;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 580px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
}

.directory-info {
    flex: 1;
}

.sets-count {
    font-size: 14px;
    color: #C2C2C2;
    margin-bottom: 11px;
}

.directory-name {
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: 700;
    color: #525266;
}

.edit-directory {
    background-color: #f5f5fa;
    background-image: url('../images/icon/edit.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.edit-directory:hover {
    background-color: #e9e9f2;
}

.delete-directory {
    background-color: #f5f5fa;
    background-image: url('../images/icon/delete.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.delete-directory:hover {
    background-color: #e9e9f2;
}

.save-directory {
    background-color: #f5f5fa;
    background-image: url('../images/icon/save.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    margin-right: 15px;
}
.save-directory:hover {
    background-color: #e9e9f2;
}

.directory-input {
    padding: 4px 8px;
    font-size: 20px;
    color: #8d8da6;
    border: 1px solid #8d8da6;
    border-radius: 4px;
    margin-bottom: 15px;
}
.directory-input:focus {
    border-color: #525266 !important;
}

.directory-input:focus {
    border-color: #525266 !important;
}

.directory-edit-buttons {
    display: flex;
}
.directory-tile .mobile {
    display: none;
}

.directory-tile .desctop {
    display: block;
}
@media (max-width: 550px) {
    .directory-input {
        padding: 3px 6px;
        font-size: 18px;
        color: #8d8da6;
        border: 1px solid #8d8da6;
        border-radius: 4px;
        margin-bottom: 15px;
        width: 100%;
    }
    .directory-info {
        margin-right: 15px;
    }
    .directory-name {
        margin-bottom: 6px;
        font-size: 18px;
    }

    .directory-tile .mobile {
        display: block;
    }

    .directory-tile .desctop {
        display: none;
    }
}

@media (max-width: 480px) {
    .btn-text {
        display: none;
    }

    /* .set-tile-btn-icon-view,
    .set-tile-btn-icon-creat,
    .set-tile .camera {
        margin-right: 0;
    } */

    .directory-info .btn-choose-img {
        width: auto;
        padding: 0 14px;
        height: 34px;
    }

    .directory-tile .mobile {
        display: block;
    }

    .directory-tile .desctop {
        display: none;
    }

    .set-tile .btn-type2 {
        width: auto;
        padding: 0 14px;
    }
}