.home-page {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    flex-wrap: wrap;
    justify-content: space-around;
}

.directory-tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e5e5e5;
    margin: 10px auto;
    padding: 10px;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.directory-tile:hover {
    background-color: rgb(250 250 250);
    box-shadow: 5px 5px 5px rgba(18, 18, 18, 0.2);
}

.directory-info {
    flex: 1;
}

.sets-count {
    font-size: 10px;
    color: #C2C2C2;
}

.directory-name {
    font-size: 16px;
    color: #3A4F58;
}

.btns {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.edit-directory {
    background: url('../images/icon/edit.svg') no-repeat;
}

.delete-directory {
    background: url('../images/icon/delete.svg') no-repeat;
}

.save-directory {
    width: 20px;
    height: 20px;
    background: url('../images/icon/save.svg') no-repeat;
    margin-right: 10px;
}

.load-image {
    height: 100%;
    width: 100%;
    /* background-color: #354952; */
    background-image: url('../images/icon/download.png');
    background-size: 130%;
    background-position: center;
    opacity: 0.4;
    border-radius: 50%;
    cursor: pointer;
}