.home-page {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.directory-tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}

.directory-image img {
    max-width: 50px;
    /* Регулируйте размер изображения папки по вашему усмотрению */
    margin-right: 10px;
}

.sets-count {
    /* Стили для количества наборов карточек */
}

.directory-name {
    /* Стили для названия директории */
}

.edit-directory {
    /* Стили для кнопки редактирования директории */
}