.search-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 1px 2px 8px 4px #e3e3e3;
}

.search-input-wrap {
  width: 100%;
  position: relative;
}

.search-header input {
  flex: 1 1;
  padding: 0 60px 0 20px;
  border-radius: 8px;
  border: none;
  margin-right: 10px;
  background-color: #f7f7f7;
  border-radius: 20px;
  height: 35px;
  width: 100%;
}

.search-header input:focus {
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(25, 27, 38, .08);
}

.loupe {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  background: url(../images/icon/loupe.png) no-repeat center / 60%;
  cursor: pointer;
}

.search-button {
  height: 32px;
  padding: 0 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #16d977;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.close-icon {
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #16d977 url(../images/icon/close.png) no-repeat center center;
  background-size: 34%;
  cursor: pointer;
  margin-left: 40px;
}

.search-result-note {
  margin: auto;
  padding: 20px;
  margin-top: 100px;
  font-size: 24px;
  text-align: center;
  color: #bebebe;
}

.search-results {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.search-item {
  width: 120px;
  height: 120px;
  margin: 15px;
  border-radius: 8px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.loader-wrap {
  margin: auto;
  margin-top: 15px
}