body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #525266;
  background-color: #f7f9fc;
  line-height: 1;
}

input:focus, textarea:focus {
  outline: none;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 15px;
  /* background-image: url('./images/bg.png'); */
  /* background-size: cover; */
  background-repeat: repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-type1 {
  height: 34px;
  background-color: #16d977;
  margin-bottom: 10px;
  padding: 0 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 6px;
  margin-right: 15px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  max-width: 120px;
}

.btn-type1:hover {
  background-color: #30e389;
}

.btn-type2, .btn-type2-short {
  height: 34px;
  background-color: #f5f5fa;
  padding: 0 25px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8d8da6;
  border-radius: 6px;
  margin-right: 15px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  max-width: 120px;
}

.camera {
  background-image: url(./images/icon/camera.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 20px;
  height: 34px;
  margin-right: 8px;
}

.btn-type2-short {
  padding: 0 10px;
  margin-bottom: 0;
}

.btn-type2-short .camera {
  margin-right: 0px;
}

.btn-type2:hover, .btn-type2-short:hover {
  background-color: #e9e9f2;
}

.btn-type3 {
  height: 34px;
  background-color: #d9b216;
  margin-bottom: 10px;
  padding: 0 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 6px;
  margin-right: 15px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  max-width: 120px;
}
.btn-type3:hover {
  background-color: #dfc24e;
}

.content {
  flex-wrap: wrap;
  justify-content: space-around;
}

.btns {
  width: 34px;
  height: 34px;
  cursor: pointer;
  border-radius: 6px;
}

.page-description {
  max-width: 600px;
  margin: auto;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-description p {
  font-size: 26px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(217, 217, 255);
}